:root {
  --primary: #fdf8f3;
  --secondary: #7d7d7d;
  --bg: #191919;
  --font: "Clash Grotesk", sans-serif;
  --vsmall: 0.5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --big: 2rem;
  --cummon: #6d8d62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--primary);
  /* height: 4000px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .brand {
  color: #F5EEC8;
  font-weight: 700;
  font-family: var(--font);
  font-size: var(--medium);
}

.navbar .brand span {
  color: #A7D397;
}

.navbar .nav-item a {
  color: var(--primary);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 var(--vsmall);
  font-family: var(--font);
}

.navbar .nav-item a:hover {
  color: #A7D397;
}


.navbar .nav-icons {
  display: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-interior.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  color: var(--primary);
  font-family: var(--font);
}

.hero .content p {
  color: var(--primary);
  font-size: 1.5rem;
  font-family: var(--font);
  padding: 0 0 2rem;
}

.hero .content .btn {
  font-family: var(--font);
  padding: var(--small) var(--big);
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: 1.2rem;
  border-radius: 2.3rem;
  -webkit-border-radius: 2.3rem;
  -moz-border-radius: 2.3rem;
  -ms-border-radius: 2.3rem;
  -o-border-radius: 2.3rem;
}

.card-container {
  max-width: 100%;
  height: 35rem;
  display: flex;
  flex-wrap: wrap;
}

.card-container .card {
  min-width: 25%;
  height: 100%;
  padding: 1.5rem;
  background-color: #fff;
  border-left: 1px solid rgba(129, 100, 150, 0.2);
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: relative;
  box-sizing: border-box;
}

.card-container #favorites {
  font-family: var(--font);
  font-weight: 400;
  color: var(--bg);
}

.card-container #desc {
  font-family: var(--font);
  font-size: 18px;
  padding-top: 0.5rem;
  color: #191919;
}

.card-container #see-all {
  color: var(--bg);
  font-size: 1rem;
  font-family: var(--font);
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

.card-container .card-image img {
  width: 100%;
  height: auto;
}

.card-container .card #new {
  color: var(--bg);
  font-family: var(--font);
  padding: 5px 10px;
  background-color: #F5EEC8;
  position: absolute;
}

.card-container .card .deskripsi {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

.card-container .card #ceramic {
  font-size: 1.2rem;
  font-family: var(--font);
  font-weight: 500;
}

.card-container .card #harga-ceramic {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: var(--font);
}

.card-container .card #shoping-cart {
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  display: inline-block;
  font-family: var(--font);
  padding: 1rem 1.2rem;
  background-color: var(--bg);
  color: var(--primary);
  margin-top: 1rem;
}

.card-container .card #shoping-cart:hover {
  background-color: #6d8d62;
}

.card-container .card .deskripsi-made {
  position: absolute;
  bottom: 0;
  padding-bottom: 5%;
}

.card-container .card .deskripsi-made .handmade {
  font-size: 1.2rem;
  font-family: var(--font);
  font-weight: 500;
}

.card-container .card .deskripsi-made .harga-handmade {
  font-size: 1.2rem;
  font-family: var(--font);
  font-weight: bold;
}

.card-container .card #populer {
  color: var(--bg);
  font-family: var(--font);
  padding: 8px 12px;
  background-color: var(--cummon);
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
}

.card-container .card .deskripsi-aromatic {
  position: absolute;
  bottom: 0;
  padding-bottom: 5%;
}

.card-container .card .deskripsi-aromatic .aromatic {
  font-size: 1.2rem;
  font-family: var(--font);
  font-weight: 500;
}

.card-container .card .deskripsi-aromatic .harga-aromatic {
  font-size: 1.2rem;
  font-family: var(--font);
  font-weight: bold;
}

/* Media Query */

/* laptop */

@media (max-width: 1366px) {
  html {
    font-size: 86%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 80%;
  }

  .navbar .nav-icons {
    display: inline-block;
  }

  .navbar .nav-icons #humberger-menu {
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .navbar .nav-item {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--bg);
    width: 20rem;
    height: 100vh;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
  }

  .navbar .nav-item.active {
    right: 0;
  }

  .navbar .nav-item a {
    color: var(--primary);
    align-items: center;
    display: block;
    width: 50%;
    margin: 0.5rem 1rem 0;
    font-size: 1.4rem;
    padding: 0.5rem;
  }

  .navbar .nav-item a:hover {
    color: var(--button);
    background-color: #A7D397;
  }

  .hero .content h1 {
    font-size: 2.7rem;
  }

  .card-container {
    max-width: 100%;
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
  }

  .card-container .card {
    min-width: 50%;
    height: 100%;
    padding: 1.5rem;
    gap: 20px;
    background-color: #fff;
    border: 1px solid rgba(129, 100, 150, 0.2);
    display: flex;
    flex-direction: column;
    flex: 2 1;
    position: relative;
    box-sizing: border-box;
  }

  .card-container #favorites {
    font-family: var(--font);
    font-weight: 400;
    font-size: 2rem;
    color: var(--bg);
  }

  .card-container #desc {
    font-family: var(--font);
    font-size: 18px;
    color: #191919;
  }

  .card-container #see-all {
    color: var(--bg);
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
  }

  .card-container .card .deskripsi {
    position: absolute;
    bottom: 0;
  }

  .card-container .card #new {
    color: var(--bg);
    font-family: var(--font);
    padding: 8px 12px;
    background-color: #F5EEC8;
    position: absolute;
    font-size: 1.2rem;
  }

  .card-container .card #ceramic {
    font-size: 1.5rem;
    font-family: var(--font);
    font-weight: 500;
  }

  .card-container .card #harga-ceramic {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .card-container .card #shoping-cart {
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    display: inline-block;
    font-family: var(--font);
    padding: 1rem 1.5rem;
    background-color: var(--bg);
    color: var(--primary);
    margin-top: 1rem;
  }

  .card-container .card #shoping-cart:hover {
    background-color: #6d8d62;
  }

  .card-container .card .deskripsi-made {
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
  }

  .card-container .card .deskripsi-made .handmade {
    font-size: 1.4rem;
    font-family: var(--font);
    font-weight: 500;
  }

  .card-container .card .deskripsi-made .harga-handmade {
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: bold;
  }

  .card-container .card #populer {
    color: var(--bg);
    font-family: var(--font);
    padding: 8px 12px;
    background-color: var(--cummon);
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .card-container .card .deskripsi-aromatic {
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
  }

  .card-container .card .deskripsi-aromatic .aromatic {
    font-size: 1.4rem;
    font-family: var(--font);
    font-weight: 500;
  }

  .card-container .card .deskripsi-aromatic .harga-aromatic {
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: bold;
  }
}

/* Handphone */
@media (max-width: 550px) {
  html {
    font-size: 69%;
  }

  .card-container {
    min-width: 1vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .card-container .card {
    min-width: 100%;
    height: 500px;
    padding: 1.5rem;
    gap: 20px;
    background-color: #fff;
    border: 1px solid rgba(129, 100, 150, 0.2);
    display: flex;
    flex-direction: column;
    flex: 1 1;
    position: relative;
  }

  .card-container .card .card-image {
    width: 100%;
    height: 100%;
  }

  .card-container .card #see-all {
    font-size: 1.5rem;
  }

  .card-container .card #new {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card-container .card .deskripsi #ceramic {
    font-size: 1.7rem;
  }

  .card-container .card .deskripsi #harga-ceramic {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .card-container .card .deskripsi-made .handmade {
    font-size: 1.7rem;
  }

  .card-container .card .deskripsi-made .harga-handmade {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .card-container .card #shoping-cart:hover {
    background-color: #6d8d62;
  }

  .card-container .card #populer {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card-container .card .deskripsi-aromatic .aromatic {
    font-size: 1.7rem;
  }

  .card-container .card .deskripsi-aromatic .harga-aromatic {
    font-size: 1.5rem;
    font-weight: bold;
  }
}