:root {
  --primary: #fdf8f3;
  --secondary: #7d7d7d;
  --bg: #191919;
  --font: "Clash Grotesk", sans-serif;
  --vsmall: 0.5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --big: 2rem;
  --cummon: #6d8d62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  background-color: var(--bg);
  /* height: 2000px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .brand {
  color: #F5EEC8;
  font-weight: 700;
  font-family: var(--font);
  font-size: var(--medium);
}

.navbar .brand span {
  color: #A7D397;
}

.navbar .nav-item a{
  color: var(--primary);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 var(--vsmall);
  font-family: var(--font);
}

.navbar .nav-item a:hover {
  color: #A7D397;
}


.navbar .nav-icons {
  display: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-interior.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  color: var(--primary);
  font-family: var(--font);
}

.hero .content p {
  color: var(--primary);
  font-size: 1.5rem;
  font-family: var(--font);
  padding: 0 0 2rem;
}

.hero .content .btn {
  font-family: var(--font);
  padding: var(--small) var(--big);
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: 1.2rem;
  border-radius: 2.3rem;
  -webkit-border-radius: 2.3rem;
  -moz-border-radius: 2.3rem;
  -ms-border-radius: 2.3rem;
  -o-border-radius: 2.3rem;
}

/* Media Query */

/* laptop */

@media (max-width: 1366px) {
  html {
    font-size: 86%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 80%;
  }
  .navbar .nav-icons {
    display: inline-block;
  }
  .navbar .nav-icons #humberger-menu {
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .navbar .nav-item {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 20rem;
    height: 100vh;
  }
  .navbar .nav-item.active {
    right: 0;
  }
  .navbar .nav-item a{
    color: var(--bg);
    align-items: center;
    display: block;
    width: 50%;
    margin: 0.5rem 1rem 0;
    font-size: 1.4rem;
    padding: 0.5rem;
  }
  .navbar .nav-item a:hover {
    color: var(--button);
    background-color: #A7D397;
  }
  .hero .content h1 {
    font-size: 2.7rem;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 69%;
  }
}
